/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HP FRAME */
body {
  font-family: "Commissioner", sans-serif;
  background: #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.phone {
  width: 360px;
  height: 800px;
  background: #ffffff;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 0 0 2px #bdbdbd;
  display: flex;
  flex-direction: column;
}

/* STATUS BAR */
.status-bar {
  height: 32px;
  background: #f9f9f9;
  padding: 0 12px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-clock,
.status-img {
  height: 14px;
}

/* HEADER */
.studio-header {
  display: flex;
  align-items: center;
  padding: 10px 14px;
}

/* back button: */
.back-btn {
  border: none;
  background: transparent;  
  width: auto;             
  height: auto;
  padding: 4px;         
  box-shadow: none;          
  border-radius: 0;      
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.back-icon {
  width: 30px;            
  height: 35px;
  object-fit: contain;
  display: block;
}

.page-title {
  font-size: 18px;
  font-weight: 600;
}

/* KONTEN */
.studio-screen {
  flex: 1;
  overflow-y: auto;
  padding: 16px 20px;
}

/* UPLOAD FOTO */
.upload-box {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.upload-placeholder {
  width: 180px;
  opacity: 0.8;
}

.upload-btn {
  background: #0f766e;
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

/* FORM */
.form-label {
  font-size: 13px;
  margin-top: 16px;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 13px;
}

.form-textarea {
  min-height: 80px;
  resize: none;
}

/* BUTTONS */
.btn-primary {
  width: 100%;
  background: #0f766e;
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  border: none;
  margin-top: 24px;
}

.btn-secondary {
  width: 100%;
  background: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
  color: #0f766e;
  border: 2px solid #0f766e;
  margin-top: 10px;
}

/* BOTTOM NAV */
.bottom-nav {
  height: 64px;
  background: #ffffff;
  border-top: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav a{
    text-decoration: none !important;   /* removes underline */
}

.bottom-nav a span {
    text-decoration: none !important;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9px;
  color: #9ca3af;
}

.nav-item-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.nav-item.active {
  color: #ef4444;
}
